@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

.container {
  background-color: #f6f6fe;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
  padding: 30px 20px;
}

.container .navbar .logo img {
  width: 80px;
}

.container .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .navbar nav ul li {
  list-style: none;
  margin-left: 10px;
}

.container .navbar nav ul li a {
  text-decoration: none;
  color: #070439;
  font-size: 1rem;
}

.container .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 30px 50px;
}

.container .section1 .image1 img {
  width: 300px;
}

.container .section1 h1 {
  padding-top: 2rem;
  font-size: 2.2rem;
  font-weight: bold;
}

.container .section1 p {
  padding: 2rem 2.6rem;
  font-size: 1.3rem;
}

.container .section1 form {
  position: relative;
}

.container .section1 input {
  width: 80%;
  padding: 1rem 1rem 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: solid 1px black;
  color: rgba(0, 0, 0, 0.4);
  outline: none;
}

.container .section1 .btn-start {
  width: 80%;
  padding: 1rem;
  background-color: #3065f8;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.container .section1 .hide {
  display: none;
  color: red;
  position: absolute;
  top: 55px;
  left: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.container .section1 .show {
  display: block;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  margin-bottom: 50px;
  padding: 30px 50px;
}

.section2 .image2 {
  padding: 100px 0;
  background: url("./images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.section2 .image2 img {
  width: 350px;
}

.section2 h2 {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.section2 p {
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1.3rem;
  text-align: left;
  color: #585989;
}

.section2 .fylo-btn {
  background: transparent;
  border: none;
  border-bottom: solid 1px #3c9f8f;
  color: #3c9f8f;
  padding: 0.5rem 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
  font-size: 1.2rem;
}

.section2 .fylo-btn span {
  margin-right: 0.5rem;
}

.section2 .card {
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  width: 300px;
  margin: 4rem auto;
  text-align: left;
}

.section2 .card .quote {
  display: block;
  padding-bottom: 1rem;
}

.section2 .card small {
  font-size: 0.9rem;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

.section2 .card .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

.section2 .card .avatar .img-avatar {
  width: 30px;
  border-radius: 50%;
}

.section2 .card .avatar .avatar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  gap: 0.5rem;
}

.section2 .card .avatar .avatar-text strong {
  font-size: 1.2rem;
}

.section2 .card .avatar .avatar-text span {
  font-size: 0.8rem;
}

.section3 {
  text-align: center;
  margin-top: 50px;
  padding: 60px 50px;
  background-color: #585989;
  color: #f6f6fe;
}

.section3 h2 {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.section3 p {
  padding: 5px 30px;
  line-height: 2rem;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.section3 form {
  position: relative;
}

.section3 input {
  width: 70%;
  padding: 1rem 1rem 1rem 2rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: solid 1px black;
  color: rgba(0, 0, 0, 0.4);
  outline: none;
}

.section3 .btn-start {
  width: 70%;
  padding: 1rem;
  background-color: #3065f8;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.section3 .hide {
  display: none;
  position: absolute;
  color: red;
  top: 50px;
  left: 80px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.section3 .show {
  display: block;
}

.section4 {
  background-color: #070439;
  padding: 60px 70px;
  color: white;
}

.section4 .logowhite {
  padding: 30px 0;
}

.section4 .logowhite img {
  width: 200px;
}

.section4 .phone {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.section4 .email {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.section4 ul {
  list-style: none;
  margin: 4rem 0;
}

.section4 ul li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.section4 .contact ul {
  margin-top: 4rem;
}

.section4 .social-icons {
  text-align: center;
}

.section4 .social-icons a {
  text-decoration: none;
}

.section4 .social-icons a i {
  margin-right: 1rem;
  font-size: 1.7rem;
  color: white;
}

@media (min-width: 998px) {
  .container {
    background-color: #f6f6fe;
    padding-top: 50px;
  }
  .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 7rem;
    padding: 30px 0;
    width: 1440px;
    margin: 0 auto;
  }
  .container .navbar .logo img {
    width: 120px;
  }
  .container .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .navbar nav ul li {
    list-style: none;
    margin-left: 30px;
  }
  .container .navbar nav ul li a {
    text-decoration: none;
    color: #070439;
    font-size: 1.2rem;
  }
  .container .navbar nav ul li a:hover {
    color: #95339e;
  }
  .container .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    margin-bottom: 2rem;
    padding: 30px 0;
    width: 1440px;
    margin: 0 auto;
  }
  .container .section1 .image1 img {
    width: 600px;
  }
  .container .section1 form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
  }
  .container .section1 h1 {
    padding-top: 2rem;
    font-size: 3.4rem;
    font-weight: bold;
    width: 600px;
  }
  .container .section1 p {
    padding: 0;
    font-size: 1.5rem;
    width: 600px;
    padding-top: 2rem;
    line-height: 2rem;
  }
  .container .section1 input {
    display: block;
    width: 60%;
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 3rem;
  }
  .container .section1 .btn-start {
    width: 30%;
    padding: 1rem;
    background-color: #3065f8;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
  .container .section1 .btn-start:hover {
    color: white;
    background-color: #95339e;
  }
  .container .section1 .hide {
    display: none;
    color: red;
    position: absolute;
    top: 100px;
    left: 0;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .container .section1 .show {
    display: block;
  }
  .section2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 500px;
    padding: 300px 0 100px 0;
    width: 1440px;
    margin: 0 auto;
    position: relative;
  }
  .section2 .image2 {
    padding: 100px 0;
    background: url("./images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section2 .image2 img {
    width: 600px;
  }
  .section2 h2 {
    font-size: 3.4rem;
  }
  .section2 p {
    font-size: 1.4rem;
    text-align: left;
    width: 600px;
    padding-left: 0;
  }
  .section2 .fylo-btn {
    padding: 0.5rem 0;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    font-size: 1.2rem;
  }
  .section2 .fylo-btn span {
    margin-right: 0.5rem;
  }
  .section2 .card {
    padding: 4rem;
    width: 350px;
    margin: 4rem 0;
  }
  .section2 .card .quote {
    display: block;
    padding-bottom: 1rem;
  }
  .section2 .card small {
    font-size: 1rem;
  }
  .section2 .card .avatar .img-avatar {
    width: 50px;
    border-radius: 50%;
  }
  .shape {
    position: absolute;
    z-index: -1;
    content: "";
    height: 200px;
    width: 400px;
    background-color: #edd4d4;
    top: 200px;
  }
  .section3 {
    background-color: #585989;
    color: #f6f6fe;
  }
  .section3 .section3-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0;
    width: 1440px;
    margin: 0 auto;
  }
  .section3 .section3-text {
    width: 600px;
  }
  .section3 h2 {
    font-size: 2.8rem;
    padding-bottom: 2rem;
  }
  .section3 p {
    padding: 5px 0;
    line-height: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    width: 550px;
  }
  .section3 form {
    width: 600px;
  }
  .section3 input {
    width: 80%;
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    border: solid 1px black;
    color: rgba(0, 0, 0, 0.4);
    outline: none;
  }
  .section3 .btn-start {
    width: 40%;
    padding: 1rem;
    background-color: #3065f8;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
  }
  .section3 .hide {
    top: 52px;
    left: 5px;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  .section3 .form {
    border: 2px solid red;
  }
  .section3 .btn-start:hover {
    color: white;
    background-color: #95339e;
  }
  .section4 .inner-section4 {
    width: 1440px;
    margin: 0 auto;
  }
  .section4 .inner-section4 .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section4 .inner-section4 .flex-footer .about ul {
    margin-top: 0;
  }
  .section4 .inner-section4 .flex-footer .contact ul {
    margin-top: 0;
  }
  .section4 .inner-section4 .flex-footer .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1rem;
  }
  .section4 .inner-section4 .flex-footer .social-icons .social-backgrond {
    border: 1px solid white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .7rem;
  }
  .section4 .inner-section4 .flex-footer .social-icons .fa-brands {
    font-size: 1.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */